



html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #f3f3f3;
    color: #101010;
}

.text {
    font-size: 15px;
}

.brand {
    font-size: 25px;
}

.logo {
    display: grid;
}

.v {
    border-left: 1px solid #aaa;
    height: 40px;   
}